/*
A Design by Negocios Web Peru
Author: Negocios Web Peru
Author URL: http://negocioswebperu.com
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; 
}
img, fieldset {
    border: 0;
}
img, object, embed, video {
    max-width: 100%;
}
img{
	height: auto;
	width: auto\9; /* ie8 */
	border: none;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: verdana, geneva;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    background-color: #ffffff;
    overflow-x: hidden;
}
#topbar{
    background-color: #5A0300;
    height: 35px;
    position: absolute;
    top: 0;
    width: 100%;
}
#backheader{
    /* Color alternativo para versiones que no soporten degradados */  
  	background-color:#680200;  
  	/* Safari 4+ y Chrome 1+ */  
  	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #D71401), color-stop(1, #680200));  
    /* Safari 5.1+ y Chrome 10+ */  
  	background-image:-webkit-linear-gradient(#D71401, #680200);  
    /* Firefox 3.6+ */  
  	background-image:-moz-linear-gradient(top, #D71401, #680200);  
    /* Opera 11.10+ */  
  	background-image:-o-linear-gradient(top, #D71401, #680200);  
    /* Internet Explorer 5.5+ */  
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#D71401', EndColorStr='#680200');
    height: 200px;
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: -5;
}
header{
    
    color: #fff;
    height: 100px;
    padding-top: 15px;
    position: absolute;
    top: 35px;
    width: 100%;    
}
.content{
    width: 90%;
    margin: 0 auto;
}
.content logo{
    float: left;
    position: relative;
}

/* Definimos un ancho y lo movemos a la derecha*/
.navigation{
  width: 15em;
  right: -15em;
  position: absolute;
  overflow: hidden;
  display: block;
  height: 10000%;
  background-color: #000;
    
    float: inherit;
    padding-top: 0;
    max-height: inherit;
    background: #252d32;
}
navigation__main{
    padding-top: 0.75em;
}
navigation__main a{
    text-decoration: none;
    transition: color 0.25s ease;
    font-family: arial;
    padding: 0;
    color: #fff;
    text-transform: none;
    font-size: 1.8rem;
}
.navigation li{
  display: block; //los elementos van uno debajo de otro
    padding: 2%;
    margin: 2.5% 5%;
    border-radius: 4px;
    background-color: 1a2024;
    font-family: arial;
    color: #f13310;
    font-size: 1.6rem;
    text-transform: : uppercase;
}
.navigation-toggle {
  width: 50px;
  height: 50px;
    display: block;
    overflow: hidden;
  position: absolute;
    background-color: #252d32;
  top: 10px;
  right: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
}
.band{
    position: absolute;
    display: block;
    background-color: #fff;
    width: 28px;
    height: 4px;
    top: 14px;
    left: 12px;
}
.band:before{
    content: "";
    display: block;
    background-color: #fff;
    width: 28px;
    height: 4px;
    position: absolute;
    top: 9px;
    overflow: hidden;
}
.band:after{
    content: "";
    display: block;
    background-color: #fff;
    width: 28px;
    height: 4px;
    position: absolute;
    top: 18px;
    overflow: hidden;
}
.nav-js #wrapper {
	-webkit-transform:translate(-15em, 0) scale(1, 1);
	   -moz-transform:translate(-15em, 0) scale(1, 1);
		-ms-transform:translate(-15em, 0) scale(1, 1);
		 -o-transform:translate(-15em, 0) scale(1, 1);
		    transform:translate(-15em, 0) scale(1, 1);
}
#wrapper {
	-webkit-transition: all .2s ease-out;
	   -moz-transition: all .2s ease-out;
	    -ms-transition: all .2s ease-out;
	     -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;
	
}
a{
  text-decoration: none;
  color: white;
}
ol, ul{
list-style: none;
}
ul, menu, dir{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}